.container {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 360px) {
  /*- - - - -DEFAULT RESPONSIVE STYLES- - - - -*/
  h1 { /*This is for all section headers*/
    width: 100%;
    text-align: center;
    font-family: 'Assistant-Bold';
    padding-top: 36px;
    padding-bottom: 36px;
    font-size: 24px;
  }
  .misc-space-divider-1 {
    height: 96px;
  }
  .fun-quote-div {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  /*- - - - -HERO RESPONSIVE STYLES- - - - -*/
  h2 { /*Hero Intro Text*/
    margin: auto;
    font-size: 24px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-weight: normal;
  }
  .container-hero {
    background-image: url("../img/hero-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 60vh;
    padding-left: 16px;
    padding-right: 16px;
  }
  /*- - - - -ABOUT ME RESPONSIVE STYLES- - - - -*/
  .container-aboutme {
    align-items: center;
  }
  .aboutme-section-block {
    width: 100%;
  }
  .blue-break-line-container {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }
  .blue-break-line {
    width: 100px;
    height: 2px;
    margin-bottom: 12px;
  }
  .aboutme-written-content-container {
    width: 100%;
  }
  .aboutme-written-content {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Amiko-Regular';
    text-align: justify;
    font-size: 16px;
  }
  /*- - - - -ANDROID PROJECTS RESPONSIVE STYLES- - - - -*/
  .grid {
    width: 340px;
    margin: auto;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 32px;
    grid-row-gap: 32px;
  }
  .android-project-title {
    width: 100%;
    font-family: "Amiko-Regular";
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  /*DEFAULT RESPONSIVE STYLES*/
  h1 { /*This is for all section headers*/
    padding-top: 42px;
    padding-bottom: 42px;
    font-size: 28px;
  }
  .misc-space-divider-1 {
    height: 112px;
  }
  .fun-quote-div {
    padding-top: 112px;
    padding-bottom: 112px;
  }
  /*HERO RESPONSIVE STYLES*/
  h2 { /*Hero Intro Text*/
    font-size: 27px;
  }
  .container-hero {
    height: 70vh;
  }
  /*- - - - -ABOUT ME RESPONSIVE STYLES- - - - -*/
  .blue-break-line-container {
    width: 600px;
  }
  .aboutme-written-content {
    width: 600px;
  }
  /*- - - - -ANDROID PROJECTS RESPONSIVE STYLES- - - - -*/
  .grid {
    width: 600px;
  }
  .grid-container {
    grid-template-columns: auto auto;
  }

}

@media screen and (min-width: 1024px) {
  /*DEFAULT RESPONSIVE STYLES*/
  h1 { /*This is for all section headers*/
    padding-top: 42px;
    padding-bottom: 42px;
    font-size: 32px;
  }
  .misc-space-divider-1 {
    height: 116px;
  }
  /*HERO RESPONSIVE STYLES*/
  h2 { /*Hero Intro Text*/
    font-size: 30px;
  }
  .container-hero {
    height: 80vh;
  }
}

@media screen and (min-width: 1280px) {
  /*DEFAULT RESPONSIVE STYLES*/
  h1 { /*This is for all section headers*/
    padding-top: 48px;
    padding-bottom: 48px;
    font-size: 36px;
  }
  .misc-space-divider-1 {
    height: 132px;
  }
  .fun-quote-div {
    padding-top: 192px;
    padding-bottom: 192px;
  }
  /*HERO RESPONSIVE STYLES*/
  h2 { /*Hero Intro Text*/
    font-size: 33px;
  }
  .container-hero {
    height: 90vh;
  }

  /*- - - - -ANDROID PROJECTS RESPONSIVE STYLES- - - - -*/
  .grid {
    width: 1000px;
  }
  .grid-container {
    grid-template-columns: auto auto auto;
  }
  /*- - - - -FRONT END PROJECTS RESPONSIVE STYLES- - - - -*/
  .grid-front-end-child {

  }

}

@media screen and (min-width: 1440px) {
  /*DEFAULT RESPONSIVE STYLES*/
  h1 { /*This is for all section headers*/
    padding-top: 48px;
    padding-bottom: 48px;
    font-size: 36px;
  }
  h2 { /*Hero Intro Text*/
    font-size: 36px;
  }
  .container-hero {
    height: 100vh;
  }
  /*FRONT END PROJECT RESPONSIVE STYLES*/
  .front-end-child {
    width: 50%;
    background-color: #0096FF;
  }
  .front-end-child-image {
    background-color: #F0F0F0;
    text-align: center;
  }
  .container-front-end {
    -ms-align-items: center;
    align-items: center;
  }
}
