.container {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 360px) {
  /*- - - - -DEFAULT RESPONSIVE STYLES- - - - -*/
  h1 { /*This is for all section headers*/
    width: 100%;
    text-align: center;
    font-family: 'Assistant-Bold';
    padding-top: 36px;
    padding-bottom: 36px;
    font-size: 24px;
  }
  .misc-space-divider-1 {
    height: 96px;
  }
  .fun-quote-div {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  /*- - - - -HERO RESPONSIVE STYLES- - - - -*/
  h2 { /*Hero Intro Text*/
    margin: auto;
    font-size: 24px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-weight: normal;
  }
  .container-hero {
    background-image: url("../img/hero-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 60vh;
    padding-left: 16px;
    padding-right: 16px;
  }
  /*- - - - -ABOUT ME RESPONSIVE STYLES- - - - -*/
  .container-aboutme {
    align-items: center;
  }
  .aboutme-section-block {
    width: 100%;
  }
  .blue-break-line-container {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }
  .blue-break-line {
    width: 100px;
    height: 2px;
    margin-bottom: 12px;
  }
  .aboutme-written-content-container {
    width: 100%;
  }
  .aboutme-written-content {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Amiko-Regular';
    text-align: justify;
    font-size: 16px;
  }
  /*- - - - -ANDROID PROJECTS RESPONSIVE STYLES- - - - -*/
  .grid {
    width: 300px;
    margin: auto;
  }
  .grid-child {
    background-color: white;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 32px;
    grid-row-gap: 32px;
  }
  .project-image {
    max-height: 420px;
    width: auto;
  }
  .android-project-title {
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;
    font-family: "Amiko-Regular";
    font-size: 16px;
  }
  /*- - - - -FRONT END PROJECT RESPONSIVE STYLES- - - - -*/
  .front-end-child {
    width: 100%;
  }
  .front-end-child-image {
    background-color: #F0F0F0;
    text-align: center;
  }
  .container-front-end {
    -ms-align-items: center;
    align-items: center;
  }
  .front-end-project-text {
    padding: 32px;
    color: white;
  }
  .front-end-project-text > h3 {
    margin-bottom: 32px;
    font-family: "Assistant-Bold";
  }
  .front-end-project-text > p {
    font-family: "Amiko-Regular";
    font-size: 16px;
  }
  /*- - - - -UI/UX DESIGN SAMPLES- - - - -*/
  .grid-container-uiux {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 8px;
  }
  .grid-container-child-uiux > img {
    width: 100%;
  }
  /*- - - - -RESUME RESPONSIVE STYLES- - - - -*/
  .resume-picture-container {
    height: 180px;
  }
  .resume-picture {
    content:url("http://placekitten.com/160/160")
  }
  .resume-interest-header {
    font-size: 16px;
  }
  #resume-download-button {
    padding: 8px 52px;
    font-size: 12px;
  }
  /*- - - - -CONNECT RESPONSIVE STYLES- - - - -*/
  .connect-section-grid {
    grid-template-columns: auto;
    grid-row-gap: 16px;
  }
  .contact-item {
    height: 150px;
  }
  .contact-item > img {
    height: 75px;
  }
}

@media screen and (min-width: 768px) {
  /*DEFAULT RESPONSIVE STYLES*/
  h1 { /*This is for all section headers*/
    padding-top: 42px;
    padding-bottom: 42px;
    font-size: 28px;
  }
  .misc-space-divider-1 {
    height: 112px;
  }
  .fun-quote-div {
    padding-top: 112px;
    padding-bottom: 112px;
  }
  /*HERO RESPONSIVE STYLES*/
  h2 { /*Hero Intro Text*/
    font-size: 27px;
  }
  .container-hero {
    height: 70vh;
  }
  /*- - - - -ABOUT ME RESPONSIVE STYLES- - - - -*/
  .blue-break-line-container {
    width: 600px;
  }
  .aboutme-written-content {
    width: 600px;
  }
  /*- - - - -ANDROID PROJECTS RESPONSIVE STYLES- - - - -*/
  .grid {
    width: 600px;
  }
  .grid-container {
    grid-template-columns: auto auto;
  }
  /*FRONT END PROJECT RESPONSIVE STYLES*/
  .front-end-child-image > img {
    width: 100%;
  }

  /*- - - - -UI/UX DESIGN SAMPLES- - - - -*/
  .grid-container-uiux {
    width: 450px;;
  }
}

@media screen and (min-width: 1024px) {
  /*DEFAULT RESPONSIVE STYLES*/
  h1 { /*This is for all section headers*/
    padding-top: 42px;
    padding-bottom: 42px;
    font-size: 32px;
  }
  .misc-space-divider-1 {
    height: 116px;
  }
  /*HERO RESPONSIVE STYLES*/
  h2 { /*Hero Intro Text*/
    font-size: 30px;
  }
  .container-hero {
    height: 80vh;
  }
  /*FRONT END PROJECT RESPONSIVE STYLES*/
  .front-end-child {
    width: 100%;
  }
  /*- - - - -RESUME RESPONSIVE STYLES- - - - -*/
  .resume-picture-container {
    height: 220px;
  }
  .resume-picture {
    content:url("http://placekitten.com/200/200")
  }
  .resume-interest-header {
    font-size: 18px;
  }
  #resume-download-button {
    padding: 12px 64px;
    font-size: 16px;
  }
  /*- - - - -CONNECT RESPONSIVE STYLES- - - - -*/
  .connect-section-grid {
    grid-template-columns: auto auto;
    grid-column-gap: 16px;
  }
}

@media screen and (min-width: 1280px) {
  /*DEFAULT RESPONSIVE STYLES*/
  h1 { /*This is for all section headers*/
    padding-top: 48px;
    padding-bottom: 48px;
    font-size: 36px;
  }
  .misc-space-divider-1 {
    height: 132px;
  }
  .fun-quote-div {
    padding-top: 192px;
    padding-bottom: 192px;
  }
  /*HERO RESPONSIVE STYLES*/
  h2 { /*Hero Intro Text*/
    font-size: 33px;
  }
  .container-hero {
    height: 90vh;
  }
  /*- - - - -ANDROID PROJECTS RESPONSIVE STYLES- - - - -*/
  .grid {
    width: 1000px;
  }
  .grid-container {
    grid-template-columns: auto auto auto;
  }
  /*- - - - -FRONT END PROJECTS RESPONSIVE STYLES- - - - -*/
  .grid-front-end {
    width: 1000px;
  }
  .grid-front-end-child {
    grid-template-columns: auto;
  }
  .front-end-child {
    width: 50%;
  }
  .front-end-child-image > img {
    width: 100%;
  }
  .container-black > .container > .front-end-child-description {
    order: -1;
  }
  /*- - - - -UI/UX DESIGN SAMPLES- - - - -*/
  .grid-container-uiux {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }
  .grid-container-child-uiux > img {
    width: 100%;
  }
  /*- - - - -CONNECT RESPONSIVE STYLES- - - - -*/
  .contact-item {
    height: 300px;
  }
  .contact-item > img {
    height: 100px;
  }
}

@media screen and (min-width: 1440px) {
  /*DEFAULT RESPONSIVE STYLES*/
  h1 { /*This is for all section headers*/
    padding-top: 48px;
    padding-bottom: 48px;
    font-size: 36px;
  }
  h2 { /*Hero Intro Text*/
    font-size: 36px;
  }
  .container-hero {
    height: 100vh;
  }
  /*FRONT END PROJECT RESPONSIVE STYLES*/
  .front-end-child {
    width: 50%;
  }


}
