/*APPLIED TO ALL ELEMENTS IN THE DOCUMENT*/
* {
  font-family: 'Assistant', sans-serif; /*default font-family for*/
  margin: 0; /*normalize any browser-specific margins*/
  padding: 0; /*normalize any browser-specific padding*/

  /*border for all elements*//*
  border: 1px solid green;
  padding: 2px;*/
}

/*MAKE ALL A-TAGS INHERIT STYLES FROM PARENT*/
a {
  all: inherit;
}

/*STYLE FOR COLORED WORD IN FUN QUOTES SECTIONS*/
.fun-quote-colored-word {
  font-family: inherit;
  font-size: inherit;
  color: #0096FF;
}

/*CONTAINER BACKGROUND COLORS*/
.container-blue {
  background-color: #0096FF;
}
.container-black {
  background-color: #0D0D0D;
}
.container-silver {
  background-color: #F0F0F0;
}

/*CUSTOM FONT FACES*/
@font-face {
  font-family: "Assistant-Bold";
  src: url("../fonts/assistant/Assistant-Bold.ttf");
}
@font-face {
  font-family: "Amiko-Regular";
  src: url("../fonts/amiko/Amiko-Regular.ttf");
}
@font-face {
  font-family: "Amiko-Bold";
  src: url("../fonts/amiko/Amiko-Bold.ttf");
}

/*CATCH-ALL FOR OVER-SPILLED CONTENT*/
img, embed, object, video {
  max-width: 100%;
  vertical-align: middle; /*fixes 3px bottom margin issue*/
}

/*HEADER DEFAULT STYLES*/
.header-title {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 18px;
}
.container-header {
  padding-top: 12px;
  padding-bottom: 12px;
}

/*GRID CONTAINER FOR ANDROID PROJECTS*/
.grid-child-project {
  overflow: auto;
  text-align: center;
  margin: 16px;
}
.project-image {
  width: 100%;
  margin-bottom: 16px;
}

/*MODAL STYLE*/
.modal { /*Modal Background*/
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content { /*Modal COntent Box Inside*/
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
.close { /*Close Button*/
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus { /*Close Button Hover Effect*/
    color: #0096FF;
    text-decoration: none;
    cursor: pointer;
}
.modal-project-description {
  font-family: 'Amiko-Regular';
  padding-bottom: 24px;
}

/*OVERLAY FOR OVERLAY ELEMENTS*/
.element-overlay {
  position: relative;
}
.element-overlay:hover .overlay {
  width: 100%;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.75;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.25s ease;
}
.overlay-text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}
.overlay-text > span {
  font-family: "Amiko-Bold";
  font-size: 16px;
}
.overlay-text > span:hover {
  color: #0096FF;
  transition-duration: .25s;
  cursor: pointer;
}
.overlay-text > span > a:hover {
  color: #0096FF;
  transition-duration: .25s;
  cursor: pointer;
}
.overlay-text-divider {
  margin-right: 1em;
  margin-left: 1em;
}







/*- - - - -RESUME RESPONSIVE STYLES- - - - -*/
.resume-picture-container {
  height: 220px;
}
.left-blue-div {
  background-color: #0096FF;
  width: 50%;
}
.right-white-div {
  background-color: white;
  width: 50%;
}
.center-resume-box {
  width: 100%;
  position: absolute;
  text-align: center;
}
.resume-picture {
  border-radius: 110px;
  background-color: #0096FF;
  padding: 10px;
}
.resume-interest-header {
  widows: 100%;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 48px;
  font-family: "Amiko-Regular";
}
.resume-button-box {
  text-align: center;
}
#resume-download-button {
  background-color: #4CAF50; /* Green */
  font-family: "Amiko-Bold";
    padding: 12px 64px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.25s;
    -webkit-transition-duration: 0.25s; /* Safari */
    cursor: pointer;
    background-color: white;
    border: 1.5px solid #0D0D0D;
}
#resume-download-button:hover {
  background-color: #0D0D0D;
  color: white;
}
