/*APPLIED TO ALL ELEMENTS IN THE DOCUMENT*/
* {
  font-family: 'Assistant', sans-serif; /*default font-family for*/
  margin: 0; /*normalize any browser-specific margins*/
  padding: 0; /*normalize any browser-specific padding*/

  /*border for all elements*//*
  border: 1px solid green;
  padding: 2px;*/
}

/*CONTAINER BACKGROUND COLORS*/
.container-blue {
  background-color: #0096FF;
}
.container-black {
  background-color: #0D0D0D;
}
.container-silver {
  background-color: #F0F0F0;
}

/*CUSTOM FONT FACES*/
@font-face {
  font-family: "Assistant-Bold";
  src: url("../fonts/assistant/Assistant-Bold.ttf");
}
@font-face {
  font-family: "Amiko-Regular";
  src: url("../fonts/amiko/Amiko-Regular.ttf");
}

/*CATCH-ALL FOR OVER-SPILLED CONTENT*/
img, embed, object, video {
  max-width: 100%;
  vertical-align: middle; /*fixes 3px bottom margin issue*/
}
/*HEADER DEFAULT STYLES*/
.header-title {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 18px;
}
.container-header {
  padding-top: 12px;
  padding-bottom: 12px;
}
